body{
    background-image: url(../images/aurora-borealis.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

div, header{
    width: 80%;
    margin: 20px auto;
    border: 3px solid gold;
    background:rgba(0,0,0,.7);
    min-height: 250px;
}

h1,h2{
    text-align: center;
    color: gold;
}