body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header,
nav,
main,
section,
article,
aside,
details,
footer {
    margin: 20px;
    padding: 20px;
    /*border: 1px solid #4353e7; */
}

main{
    border: 1px solid #4353e7;
}
header {
    background-color: #f5f5f5;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    float: left;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

section {
    clear: both;
}

aside {
    float: right;
    width: 20%;
}

article {
    float: left;
    width: 75%;
}

footer {
    clear: both;
    background-color: #f5f5f5;
    text-align: center;
}

details {
    clear: both;
}